In [1]:
import pandas as pd

In [6]:
speciesList = pd.read_csv("speciesList.csv", encoding='Latin-1')

In [7]:
speciesList.to_csv("clean_speciesList.csv", encoding=None)

In [11]:
speciesList.head()

,SCIENTIFIC_NAME,COMMON_NAME,SPECIES_CODE,ORDER
0,Struthio camelus,Common Ostrich,ostric2,Struthioniformes
1,Struthio molybdophanes,Somali Ostrich,ostric3,Struthioniformes
2,Struthio camelus/molybdophanes,Common/Somali Ostrich,y00934,Struthioniformes
3,Rhea americana,Greater Rhea,grerhe1,Rheiformes
4,Rhea pennata,Lesser Rhea,lesrhe2,Rheiformes

In [15]:
speciesList.rename(index=None, inplace=True, columns={"SCIENTIFIC_NAME" : "Scientific_Name", "COMMON_NAME": "Common_Name",
                                       "SPECIES_CODE": "Species_Code", "ORDER": "Order"})

In [17]:
speciesList.head()

,Scientific_Name,Common_Name,Species_Code,Order
0,Struthio camelus,Common Ostrich,ostric2,Struthioniformes
1,Struthio molybdophanes,Somali Ostrich,ostric3,Struthioniformes
2,Struthio camelus/molybdophanes,Common/Somali Ostrich,y00934,Struthioniformes
3,Rhea americana,Greater Rhea,grerhe1,Rheiformes
4,Rhea pennata,Lesser Rhea,lesrhe2,Rheiformes

In [18]:
speciesList.to_csv("clean_speciesList.csv", encoding=None)